<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag "simple_email_template_rails/application" %>
  </head>

  <body>
    <p class="lead">Hi there!</p>
    <p style="color: #484848; line-height: 1.5;">
      Thanks for downloading <a href="http://foundation.zurb.com/emails/docs/">Foundation for Emails!</a> Your days of coding up painful HTML emails are officially over. You’ll soon be cranking out some slick, responsive emails in no time! To help get you up and running, we've put together 11 templates for the most common email use cases includ
    </p>
    <%= yield %>
  </body>
</html>
